video {
    width: 100%;
}

#buttons{
    margin: 0.5em;
}

#download {
    display: none;
}

form > div {
    display: table-row;

}

form {
    display: table;
}

label, input {
    display: table-cell;
    margin: 5px;
}
