.video-booth {
    width: 100%;
    display: flex;
    background-color: #f1f1f1f1;
    position: relative;
    padding: 2em;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#vb-page-3 > .mdc-card {
    min-height: 300px;
}

.video-booth-page #vb-progress-title {
    text-align: center;
    margin: 2em;
}

.video-booth-page #vb-progress-done-p {
    text-align: center;
    margin: 2em;
    margin-top: 0;
    display: none;
}

.video-booth-page > .mdc-card > .mdc-linear-progress {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    width: 100%;
    text-align: center;
    margin-top: 1em;
}

#browser-warning {
    background-color: yellow;
    border-radius: 4px;
    padding: 1em;
    display: none;
}

.video-booth-page {
    padding: 2em;
}

.video-booth-page .mdc-card {
    padding: 1em;
    margin-bottom: 1.5em;
}

.video-booth-page .mdc-card h3 {
    font-size: 1.5em;
}

.video-booth-page .mdc-list-item.selected {
    background-color: #dededede;
}

.input-row {
    display: flex;
}

.input-row label,
.input-row .mdc-select {
    margin: 1em;
    width: 50%;
}

.input-row .mdc-select {
    padding-top: .5em;
}

.input-row .mdc-select {
    margin: .5em 1em 1em 1em;
    width: 50%;
}

label.mdc-text-field {
    margin: 1em;
}

.video-booth #input-container {
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    border: 1px grey solid;
}

.video-booth #player-wrapper {
    margin: 1em;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 4px;
}

.video-booth #player-overlay {
    height: 500px;
    line-height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    color: white;
    font-size: 20em;
    text-align: center;
}

.video-booth #stop:enabled {
    background-color: red;
}

.video-booth #player {
    height: 500px;
}

.video-booth #buttons {
    margin: 0.5em;
}

.video-booth form>div {
    display: table-row;
}

.video-booth form {
    display: table;
}

#choose-file-name {
    color: grey;
    margin: 1em;
    position: relative;
    top: 3px;
}

#choose-file-group {
    border: 1px lightgrey solid;
    border-radius: 3px;
    width: fit-content;
    display: inline-block;
    padding: 1em;
}

#upload-container input {
    display: none;
}